<div class="personalCenter">
    <h2 class="page-header "><span class="label label-default log2">个人中心</span></h2>
    <div class="raw col-md-12">
        <div class="col-md-2 pc1" ng-controller="CheckMessageController">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 pic" style="background-image:url(public/images/111.jpg);">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="margin-top: 10px;">
                    你说啥玩意儿
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="margin-top: 10px;">
                    <button class="btn btn-warning" style="width: 100%;" type="button" onclick="javascript:window.location.href='#/'"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> 上传文件</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1" style="margin-top: 10px;">
                    <button class="btn btn-default btn-sm" style="width: 100%;" type="button">确认上传</button>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top: 10px;">
                    <label class="col-md-2 control-label" for="">选择文件：</label>
                        <input type="file">
                </div>
            </div>
            <div class="row2">
                <div class="col-md-10 col-md-offset-1">
                    <h4 class="btn" id="mydoc" href="#" onclick="show_mydoc()"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 我的文档</h4>
                </div>
            </div>
            <div class="row2">
                <div class="col-md-10 col-md-offset-1">
                    <h4 class="btn" id="history" href="#" onclick="show_history()"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> 历史记录</h4>
                </div>
            </div>
            <div class="row2">
                <div class="col-md-10 col-md-offset-1">
                    <h4 class="btn" id="personalInfo" href="#" onclick="show_personalInfo()"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 个人信息</h4>
                </div>
            </div>
        </div>
        <div class="col-md-10 pc2" id="pc2">
            <iframe id="frm_view" src="public/images/bigdata3.png" style="background-size:100%;background-repeat: no-repeat;margin-top: 20px;margin-left: 8px" width="920" height="640">
            </iframe>
        </div>
    </div>
</div>
<script>
function show_mydoc() {
    document.getElementById("frm_view").setAttribute("src", "./myDoc.html");
}
</script>
<script>
function show_history() {
    document.getElementById("frm_view").setAttribute("src", "./history.html");
}
</script>
<script>
function show_personalInfo() {
    document.getElementById("frm_view").setAttribute("src", "./personalInfo.html");
}
</script>
