<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ynu.docmanagesystem.mapperExtend.UserExtendMapper">

	<select id="verifyUser" resultType="int">
		DECLARE @o_buyerid int
		exec @o_buyerid = [dbo].[signIn] #{0},#{1},#{2}
		select @o_buyerid

	</select>
</mapper>